
/*________________ 7. Partner ________________*/
.I-partner{
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-partner img{
	width: 160px;
	margin: 0 30px;
}
/*________________ End Partner ________________*/


	








