@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*
	1. Overview
	2. Background
	3. Header
	4. Content_Header
	5. Most_Used
	6. Steps
	7. Partner
	8. Footer
*/
/*________________ 1. Overview ________________*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.wrapper{
	width: 100%;
	min-width: 1280px;
	max-width: 1920px;
	margin: 0 auto;
	background-color: #F6F7FB;
}
.wrapper-container{
	width: 1170px;
	margin: auto;
}
.row.mg-10{
	margin: 0 10px;
}
.row.mg-0{
	margin: 0;
}
a:hover{
	text-decoration: none !important;
}
/*________________ End Overview ________________*/

/* CARD */
.C_A_R_D{
	padding: 15px 10px;
	border-radius: 7px;
	background-color: #fff;
	transition: all 300ms ease;
	cursor: pointer;
}
.C_A_R_D:hover{
	box-shadow: 1px 1px 10px #00000040;
}
.C_A_R_D .C_A_R_D-mg{
	margin: 0;
}
.C_A_R_D .C_A_R_D-pd{
	padding: 0 5px;
}
.C_A_R_D-header{
	margin: 0 0 5px 0;
}
.C_A_R_D-header .C_A_R_D-image{
	width: 100%;
}
.C_A_R_D-header .C_A_R_D-image img{
	width: 100%;
}
.C_A_R_D-header .C_A_R_D-use{
	margin: 0 0 3px 0;
}
.C_A_R_D-header .C_A_R_D-use .action_use{
	float: right;
	width: 26px;
	height: 15px;
	cursor: pointer;
}
.C_A_R_D-header .C_A_R_D-use .action_use .tg-btn{
	border-radius: 15px;
	position: relative;
	background-color: #e1e1e1;
	transition: all 300ms ease;
}
.C_A_R_D-header .C_A_R_D-use .action_use .tg-btn.active{
	background-color: #2AA1AF;
}
.C_A_R_D-header .C_A_R_D-use .action_use .tg-btn .circle{
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 13px;
	background-color: #fff;
	top: 1px;
	left: 2px;
	transition: all 300ms ease;
}
.C_A_R_D-header .C_A_R_D-use .action_use .tg-btn.active .circle{
	top: 1px;
	left: 12px;
}
.C_A_R_D-header .C_A_R_D-use .text{
	float: right;
	font-size: 1.2rem;
	line-height: 17px;
	font-weight: bold;
	margin: 0 0 0 10px;
}
.C_A_R_D-header .C_A_R_D-searches{
	margin: 0 0 6px 0;
}
.C_A_R_D-header .C_A_R_D-searches .data{
	float: right;
	margin: 0 5px 0 0;
	font-size: 1.2rem;
	line-height: 17px;
	font-weight: bold;
	color: #EC8600;
}
.C_A_R_D-header .C_A_R_D-searches .text{
	float: right;
	font-size: 1.2rem;
	line-height: 17px;
	color: #02052E;
}

.C_A_R_D-header .C_A_R_D-vote{
	float: right;
	margin: 0 0 5px 0;
}
.C_A_R_D-header .C_A_R_D-vote .C_A_R_D-vote-item{
	float: left;
	width: 14px;
	height: 14px;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background-color: #E1E1E1;
}
.C_A_R_D-header .C_A_R_D-vote .C_A_R_D-vote-item.is-select{
	background-color: #FFE500;
}
.C_A_R_D-header .C_A_R_D-vote .C_A_R_D-vote-item:not(:last-child){
	margin: 0 5px 0 0;
}
.C_A_R_D-header .C_A_R_D-comment{
	float: left;
	width: 100%;
	text-align: right;
	font-size: 1.2rem;
	line-height: 17px;
	color: #02052E;
}
.C_A_R_D-body{
	padding: 0 5px;
	margin: 0 0 20px 0;
}
.C_A_R_D-body .C_A_R_D-body-title{
	font-size: 1.4rem;
	line-height: 19px;
	font-weight: bold;
	color: #02052E;
	margin: 0 0 15px 0;
}
.C_A_R_D-body .C_A_R_D-body-describe{
	font-size: 1.2rem;
	line-height: 17px;
	color: #B7B6B6;
}
.C_A_R_D-body .C_A_R_D-body-category{ }
.C_A_R_D-body .C_A_R_D-body-category .category-item{
	width: 100%;
	height: 25px;
	border-radius: 2px;
	background-color: #F2F2F2;
	color: #000;
	font-size: 1.1rem;
	line-height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.C_A_R_D-update{
	width: 100%;
	height: 70px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.C_A_R_D-update .update_wrapper{
	width: 100%;
	overflow: hidden;
}
.C_A_R_D-update .update,
.C_A_R_D-update .uninstall{
	display: flex;
	align-items: center;
	padding: 0 0 0 35px;
	width: 100%;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #E1E1E1;
}
.C_A_R_D-update .update:hover,
.C_A_R_D-update .uninstall:hover{
	color: #fff;
	background-color: #2AA1AF;
}
.C_A_R_D-update .uninstall{
	border-radius: 4px;
}
.C_A_R_D-update .update{
	margin: 0 0 10px 0;
}
.C_A_R_D-update .icon{
	margin: 0 15px 0 0;
	width: 15px;
}
.C_A_R_D-update .icon img{
	width: 100%;
}
.C_A_R_D-update .update:hover img,
.C_A_R_D-update .uninstall:hover img{
	filter: invert(100%) sepia(24%) saturate(0%) hue-rotate(309deg) brightness(116%) contrast(100%);
}
.C_A_R_D-update .text{
	font-size: 1.4rem;
	line-height: 19px;
}
.C_A_R_D-footer{
	padding: 0 5px;
	margin: 0 0 15px 0;
}
.C_A_R_D-footer .C_A_R_D-detail{ }
.C_A_R_D-footer .C_A_R_D-detail .detail-item{
	position: relative;
}
.C_A_R_D-footer .C_A_R_D-detail .C_A_R_D-pd{
	padding: 0;
}
.C_A_R_D-footer .C_A_R_D-detail .C_A_R_D-pd:not(:last-child) .detail-item:before{
	position: absolute;
	content: "";
	top: 0%;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: #E1E1E1;
}
.C_A_R_D-footer .C_A_R_D-detail .detail-item{
	
}
.C_A_R_D-footer .C_A_R_D-detail .detail-item .detail-item-title{
	margin: 0 0 8px 0;
	color: #000;
	font-size: 1.2rem;
	line-height: 17px;
	text-align: center;
}
.C_A_R_D-footer .C_A_R_D-detail .detail-item .detail-item-data{
	color: #2AA1AF;
	font-size: 1.4rem;
	line-height: 19px;
	font-weight: bold;
	text-align: center;
}

.toggle-button{
	
}
/*________________ 3. Header ________________*/
.I-header{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.I-header.header_custom{
	background-color: #104358
}
.I-header .navibar{
	width: 100%;
	height: 80px;
	/*padding: 0 55px;*/
	display: flex;
	align-items: center;
}
.I-header .navibar .navibar-brand{
	margin-right: auto;
	width: 235px;
}
.I-header .navibar .navibar-brand img{
	width: 100%;
}
.I-header .navibar .navibar-nav{
	margin-left: auto;
}
.I-header .navibar .navibar-nav .navibar-nav-menu{
	float: left;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul{
	margin: 0;
	padding: 9px 0;
	list-style-type: none;
	overflow: hidden;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul li{
	float: left;
	margin-right: 30px;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul li a{
	display: block;
	height: 100%;
	overflow: hidden;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul li a.is-visited .text{
	font-weight: bold;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul li a .text{
	float: left;
	font-size: 1.6rem;
	line-height: 22px;
	font-family: 'Open Sans';
	font-weight: 400;
	color: #fff;
	margin-right: 5px;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul li a .icon{
	float: left;
	width: 12px;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .navibar .navibar-nav .navibar-nav-menu ul li a .icon img{
	width: 100%;
}
.I-header .navibar .navibar-nav .navibar-nav-login{
	float: left;
	width: 150px;
	height: 40px;
}
.I-header .navibar .navibar-nav .navibar-nav-login button{
	width: 100%;
	height: 100%;
	border: none;
	background-color: #fff;
	font-size: 1.6rem;
	font-family: 'Open Sans';
	color: #2AA1AF;
	line-height: 21px;
	border-radius: 5px;
}

.I-header .navibar .navibar-nav .navibar-nav-user{
	float: left;
	width: 125px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.I-header .navibar .navibar-nav .navibar-nav-user .user-logo{
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 5px 0 0;
}
.I-header .navibar .navibar-nav .navibar-nav-user .user-logo img{
	width: 100%;
}
.I-header .navibar .navibar-nav .navibar-nav-user .user-name{
	float: left;
	font-size: 1.6rem;
	color: #fff;
	line-height: 22px;
}
.I-header .navibar .navibar-nav .navibar-nav-user .user-dropdown{
	float: left;
	margin: 0 0 0 8px;
	width: 7px;
}
.I-header .navibar .navibar-nav .navibar-nav-user .user-dropdown img{
	width: 100%;
}
.I-header .navibar .navibar-nav .navibar-nav-user{
	float: left;
	width: 125px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-header .navibar .navibar-nav .navibar-nav-notification{
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.I-header .navibar .navibar-nav .navibar-nav-notification .image{
	width: 15px;
}
.I-header .navibar .navibar-nav .navibar-nav-notification .image img{
	width: 100%;
}
.I-header .navibar .navibar-nav .navibar-nav-notification .value{
	position: absolute;
	top: 10px;
	right: 7px;
	width: 12px;
	height: 12px;
	background-color: #2AA1AF;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .6rem;
	line-height: 8px;
	color: #fff;
}
/*________________ End Header ________________*/


/*________________ End my_page ________________*/
.I-my_page{
	margin: 30px 0;
	width: 100%;
}
.I-my_page .sidebar_menu{
	width: 100%;
	padding: 20px 15px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 20px #00000040;
}
.I-my_page .sidebar_menu .search_form{
	position: relative;
	width: 100%;
	height: 40px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	margin: 0 0 20px 0;
}
.I-my_page .sidebar_menu .search_form button{
	position: absolute;
	top: 0;
	left: 0
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.I-my_page .sidebar_menu .search_form button i{
	width: 15px;
	color: #2AA1AF;
}
.I-my_page .sidebar_menu .search_form input{
	margin: 0 0 0 40px;
	width: calc( 100% - 40px );
	height: 100%;
	border: none;
}
.I-my_page .sidebar_menu .search_form input::placeholder{
	color: #E1E1E1;
}
.I-my_page .sidebar_menu .select_form{
	width: 100%;
}
.I-my_page .sidebar_menu .select_form ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.I-my_page .sidebar_menu .select_form ul li{
	width: 100%;
	height: 40px;
}
.I-my_page .sidebar_menu .select_form ul li a{
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 0 0 75px;
	font-size: 1.6rem;
	line-height: 22px;
	color: #000;
	transition: all 100ms ease;
}
.I-my_page .sidebar_menu .select_form ul li a.is-select{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	background-color: #2AA1AF;
}
.I-my_page .sidebar_menu .select_form ul li a.is-select .icon img{
	filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(318deg) brightness(104%) contrast(107%);
}
.I-my_page .sidebar_menu .select_form ul li a .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-my_page .sidebar_menu .select_form ul li a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	background-color: #2AA1AF;
}
.I-my_page .sidebar_menu .select_form ul li a:hover .icon img{
	filter: invert(100%) sepia(94%) saturate(22%) hue-rotate(318deg) brightness(104%) contrast(107%);
}

.I-my_page .my_page-title{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #E1E1E1;
}
.I-my_page .my_page-title .my_page-text{ 
	float: left;
	position: relative;
	font-size: 2rem;
	line-height: 27px;
	font-weight: bold;
}
.I-my_page .my_page-title .my_page-text::before{ 
	position: absolute;
	bottom: -3px;
	left: 0;
	content: "";
	width: 100%;
	height: 3px;
	background-color: #2AA1AF;
}
.I-my_page .sort_wrapper{
	margin: 20px 0;
}
.I-my_page .sort_wrapper .sort{
	width: 100%;
	height: 40px;
	position: relative;
}
.I-my_page .sort_wrapper .sort .select-wrapper .option-wrapper{
	top: 150px;
	right: 0;
}
.I-my_page .sort_wrapper .sort .select-wrapper.is-open .option-wrapper{
	top: 50px;
	right: 0;
}

.I-my_page .my_page-category{
	width: 100%;
	height: 40px;
	margin: 15px 0 0 0;
	display: flex;
	align-items: center;
}
.I-my_page .my_page-category .category-item{
	font-size: 1.4rem;
	line-height: 19px;
	color: #000;
	border-radius: 5px;
	font-weight: bold;
}
.I-my_page .my_page-category .category-item:hover{
	color: #fff;
	background-color: #2AA1AF;
}
.I-my_page .my_page-category .category-item.is-select{
	color: #fff;
	background-color: #2AA1AF;
}
.I-my_page .my_page-category .category-item.is-select:not(:last-child):before{
	width: 0;
}
.I-my_page .my_page-category .category-item:hover:not(:last-child):before{
	width: 0;
}
.I-my_page .my_page-category .action.all{
	width: 40px;
	padding: 10px;
}
.I-my_page .my_page-category .action{
	display: block;
	position: relative;
	padding: 10px 25px;
}
.I-my_page .my_page-category .action:not(:last-child):before{
	content: "";
	position: absolute;
	top: 10px; 
	right: 0;
	width: 2px;
	height: 20px;
	background-color: #E1E1E1;
}

.I-my_page .item_wrapper .pd-custom {
    padding: 15px;
}

.I-my_page .pagination_list{
	width: 100%;
	height: 70px;
	display: none;
	align-items: center;
	justify-content: center;
}
.I-my_page .pagination_list.is-active{
	display: flex;
}
.I-my_page .pagination_list .pagination-item{
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	margin: 0 2px;
	border: 1px solid #B7B6B6;
	border-radius: 4px;
	overflow: hidden;
}
.I-my_page .pagination_list .pagination-item.is-select{
	color: #fff;
	background-color: #2AA1AF;
	border: none;
}
/*________________ 8. Footer ________________*/
.I-footer{
	position: relative;
	width: 100%;
	height: 350px;
	background-color: #104358;
	padding: 30px 55px 0 55px;
}
.I-footer .information{
	
}
.I-footer .information .logo{
	width: 100%;
	overflow: hidden;
}
.I-footer .information .logo .logo-image{
	float: left;
	width: 125px;
}
.I-footer .information .logo .logo-image img{
	width: 100%;
}
.I-footer .information .address{
	width: 100%;
	margin: 0 0 10px 0;
	overflow: hidden;
}
.I-footer .information .address .address-text{
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 24px;
	color: #F3F3FD;
}
.I-footer .information .contact{
	width: 100%;
	overflow: hidden;
}
.I-footer .information .contact .contact-icon{
	float: left;
	margin: 0 10px 12px 0;
	width: 15px;
	height: 15px;
}
.I-footer .information .contact .contact-icon img{
	width: 100%;
}
.I-footer .information .contact .contact-text{
	float: left;
	font-size: 1.4rem;
	line-height: 19px;
	color: #F3F3FD;
}
.I-footer .footer-item{
	
}
.I-footer .footer-item .title{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #E1E1E1;
	margin: 0 0 15px 0
}
.I-footer .footer-item .title .title-text{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 2rem;
	line-height: 27px;
	color: #fff;
	font-weight: bold;
	float: left;
}
.I-footer .footer-item .title .title-text:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	background-color: #2AA1AF;
	left: 0;
	bottom: -1px;
}
.I-footer .footer-item .content{
	
}
.I-footer .footer-item .content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.I-footer .footer-item .content ul li{
	float: left;
	width: 100%;
	margin: 5px 0;
}
.I-footer .footer-item .content ul li a{
	font-size: 1.4rem;
	line-height: 19px;
	color: #F3F3FD;
}
.I-footer .footer-item .content ul li a .text{
	float: left;
}
.I-footer .footer-item .content ul li a .icon{
	float: left;
	margin: -3px 0 0 15px;
}
.I-footer .copyright{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #F3F3FD;
	font-size: 1.6rem;
	line-height: 22px;
	color: #F3F3FD;
}
	





