.I-header{
	width: 100%;
	height: 100%;
}
.I-header .action_wrapper{
	position: relative;
	float: left;
	width: calc(50% - 300px );
	height: 100%;
	padding: 0 16px;
	display: flex;
	align-items: center;
}
.I-header .action_wrapper .logo{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-header .action_wrapper .logo img{
	width: 100%;
}
.I-header .action_wrapper .search_wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 0 0 50px;
	display: flex;
	align-items: center;
}
.I-header .action_wrapper .search_wrapper .search_bound{
	position: relative;
	width: 240px;
	height: 40px;
	border-radius: 40px;
	padding: 7px 16px;
	background-color: #3a3b3c;
	overflow: hidden;
}
.I-header .action_wrapper .back_search{
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 66px;
	width: 50px;
	height: 100%;
	transition: all 300ms ease;
}
.I-header .action_wrapper.is-open .back_search{
	left: 16px;
	z-index: 2;
	cursor: pointer;
	background-color: #242526;
}
.I-header .action_wrapper .back_search .back_button{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e4e6eb;
	font-size: 14px;
	transition: all 300ms ease;
}
.I-header .action_wrapper .back_search .back_button:hover{
	background-color: #3a3b3c;
}
.I-header .action_wrapper .search_wrapper .search_bound .search_inside{
	position: absolute;
	top: 0;
	right: 0;
	width: 240px;
	height: 40px;
	transition: all 300ms ease;
}
.I-header .action_wrapper.is-open .search_wrapper .search_bound .search_inside{
	width: 280px;
}
.I-header .action_wrapper .search_wrapper .search_bound .search_inside .icon_wrapper{
	float: left;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e4e6eb;
	font-size: 14px;
}
.I-header .action_wrapper .search_wrapper .search_bound .search_inside .input_wrapper{
	float: left;
	width: calc(100% - 40px);
	height: 40px;
}
.I-header .action_wrapper .search_wrapper .search_bound .search_inside .input_wrapper input{
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: #e4e6eb;
	border: none;
	padding: 0;
	background-color: #00000000;
	transition: all 300ms ease;
}
.I-header .action_wrapper.is-open .search_wrapper .search_bound .search_inside .input_wrapper input{
	padding: 7px 16px;
}

.I-header .navigation_wrapper{
	float: left;
	width: 600px;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .navigation_wrapper .navigation_item{
	width: 20%;
	height: 100%;
}
.I-header .navigation_wrapper .navigation_item.menu_button{
	display: none;
}
.I-header .navigation_wrapper .navigation_item a{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: #b0b3b8;
}
.I-header .navigation_wrapper .navigation_item a:hover{
	background-color: #ffffff1a;
}
.I-header .navigation_wrapper .navigation_item a.is-visited{
	color: #2d88ff;
}
.I-header .navigation_wrapper .navigation_item a.is-visited::before{
	position: absolute;
	content: "";
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #2d88ff;
}

.I-header .detail_wrapper{
	float: left;
	width: calc(50% - 300px );
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.I-header .detail_wrapper .customer_wrapper{
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .detail_wrapper .customer_wrapper .customer_item{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin: 0 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	background-color: #3a3b3c;
	color: #e4e6eb;
}
.I-header .detail_wrapper .user_wrapper{
	display: flex;
	align-items: center;
	height: 100%;
}
.I-header .detail_wrapper .user_wrapper .user_avatar{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.I-header .detail_wrapper .user_wrapper .user_avatar img{
	width: 100%;
}
.I-header .detail_wrapper .user_wrapper .user_name{
	margin: 0 5px;
	color: #fff;
	font-size: 16px;
}





