.I-account{
	width: 100%;
	height: 50px;
	background-color: #352d3a;
}
.I-account .account_wrapper{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}
.I-account .account_wrapper .respon_nav_wrapper{
	display: none;
}
.I-account .account_wrapper .contact_phone{
	margin-right: auto;
	color: #5c5c5e;
	height: 50px;
	display: flex;
	align-items: center;
}
.I-account .account_wrapper .contact_phone .title{
	float: left;
}
.I-account .account_wrapper .contact_phone .title i{
	margin: 0 10px 0 0;
}
.I-account .account_wrapper .contact_phone .phone{
	float: left;
	margin: 0 0 0 10px;
	color: #fff;
	font-size: 20px;
}
.I-account .login_wrapper{
	margin-left: auto;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-account .login_wrapper .login{
	padding: 5px 10px;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}
.I-content_header{
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.I-content_header .logo{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 32px;
	font-family: 'Lobster';
	width: 25%;
}
.I-content_header .search_wrapper{
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-content_header .search_wrapper .search{
	position: relative;
	width: 500px;
	height: 50px;
	border: 1px solid #ccc;
}
.I-content_header .search_wrapper .search input{
	float: left;
	width: calc(100% - 50px);
	height: 100%;
	border: none;
	font-size: 24px;
	padding: 0 10px;
}
.I-content_header .search_wrapper .search a{
	float: left;
	width: 50px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.I-navigation{
	width: 100%;
	height: 50px;
	background-color: #fff;
}
.I-navigation .navigation_wrapper{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
}
.I-navigation .navigation_wrapper ul{
	margin-right: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
}
.I-navigation .navigation_wrapper ul li{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 40px 0 0;
}
.I-navigation .navigation_wrapper ul li a{
	
}
.I-navigation .navigation_wrapper .shopping_cart{
	margin-left: auto;
	width: 300px;
	height: 100%;
	background-color: #ef2e2f;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}
.I-navigation .navigation_wrapper .shopping_cart i{
	margin: 0 20px 0 0;
}
.I-navigation .navigation_wrapper .shopping_cart .cart{
	margin: 0 0 0 20px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: #fff;
	color: #ef2e2f;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-respon_nav{
	display: none;
}


.I-carousel{
    margin: 20px 0;
    width: 100%;
    position: relative;
    z-index: 1;
}
.I-carousel .item .item_wrapper{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.I-carousel .item .item_wrapper img{
    width: 100%;
}
.I-carousel .item .item_wrapper .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}
.I-carousel .item .item_wrapper .top .content_wrapper{
    width: 80%;
}
.I-carousel .item .item_wrapper .top .content_wrapper .text{
    font-size: 60px;
    color: #fff;
}
.I-carousel .item .item_wrapper .top .content_wrapper .text span{
    font-weight: bold;
}











