@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'poppins', 'Noto Sans', sans-serif;
    background-color: #fff;
}

.logo{
    float: left;
    width: 30%;
    height: 100%;
}
.logo a{
    float: left;
    display: flex;
    align-items: center;
    font-family: 'Pacifico';
    font-size: 32px;
    height: 100%;
    color: rgba(16, 154, 6, 1);
}
.logo a:hover{
    text-decoration: none;
}
.header_content{
    float: left;
    width: 70%;
    height: 100%;
}
.header_content .login_wrapper{
    float: left;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_content .login_wrapper .user_wrapper{
    float: right;
}
.header_content .login_wrapper .user_wrapper .user_name{
    float: left;
    margin: 0 10px 0 0;
    height: 100%;
    display: flex;
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
    align-items: center;
}
.header_content .login_wrapper .user_wrapper .user_avatar{
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(9, 118, 1, 1);
    background-color: rgba(9, 118, 1, 1);
    color: #fff;
    border-radius: 40px;
}
.header_content .navigation_wrapper{
    float: left;
    width: 100%;
    height: 50%;
}
.header_content .navigation_wrapper ul{
    margin: 0;
    padding: 0 100px;
    list-style-type: none;
    float: right;
    height: 100%;
    /*background-color: rgba(16, 154, 6, 1);*/
}
.header_content .navigation_wrapper ul li{
    float: left;
    height: 100%;
}
.header_content .navigation_wrapper ul li:hover .sub_item{
    text-decoration: none;
}
.header_content .navigation_wrapper ul li.wrapper_sub_menu:hover .sub_menu{
    display: block;
}
.header_content .navigation_wrapper ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(16, 154, 6, 1);
}
.header_content .navigation_wrapper ul li a:hover{
    /*text-decoration: none;*/
}
.header_content .navigation_wrapper ul li.wrapper_sub_menu{
    position: relative;
}
.header_content .navigation_wrapper ul li.wrapper_sub_menu .sub_menu{
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 250px;
    background-color: rgba(9, 118, 1, 0.7);
    border-radius: 5px;
}
.header_content .navigation_wrapper ul li.wrapper_sub_menu .sub_menu .sub_item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 30px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all 300ms ease;
}
.header_content .navigation_wrapper ul li.wrapper_sub_menu .sub_menu .sub_item:hover{
    padding: 0 0 0 35px;
}
.search_wrapper{
    width: 100%;
    margin: 20px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_wrapper input{
    width: 400px;
    height: 40px;
    border:  1px solid rgba(9, 118, 1, 0.7);
    border-radius: 5px;
    padding: 5px;
}
.search_wrapper button{
    background-color: #fff;
    border: none;
    margin: 0 0 0 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(9, 118, 1, 0.7);
}
.list_item_wrapper{
    width: 100%;
}
.list_item_wrapper .list_header{
    width: 100%;
    font-size: 24px;
    height: 50px;
}
.list_item_wrapper .list_header .list_name{
    float: left;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}
.list_item_wrapper .list_header .list_showmore{
    float: right;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}
.list_item_wrapper .list_header .list_showmore i{
    padding: 0 0 0 5px;
}
.list_item_wrapper .list_item{
    overflow: hidden;
}

.item_wrapper{
    width: 20%;
    float: left;
    height: 300px;
    padding: 20px;
    transition: all 300ms ease;
}
.item_wrapper .item{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(9, 118, 1, 0.7);
    padding: 10px;
    transition: all 300ms ease;
}
.item_wrapper .item .item_image{
    width: 100%;
    height: 130px;
    overflow: hidden;
    border-radius: 5px;
}
.item_wrapper .item .item_image img{
    width: 100%;
}
.item_wrapper .item .item_title{
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgba(16, 154, 6, 1);
    font-family: 'Pacifico';
}
.item_wrapper:hover{
    text-decoration: none;
}
.item_wrapper:hover .item{
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(16, 154, 6, 1);
}
.view_all_wrapper{
    width: 100%;
    margin: 20px 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view_all_wrapper a{
    width: 200px;
    height: 50px;
    border: 1px solid rgba(16, 154, 6, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(16, 154, 6, 1);
    font-size: 16px;
    transition: all 300ms ease;
}
.view_all_wrapper a:hover{
    text-decoration: none;
    color: #fff;
    background-color: rgba(16, 154, 6, 1);
}

.overview_wrapper{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview_wrapper .overview_content{
    width: 500px;
    height: 500px;
    padding: 20px;
    border: 1px solid rgba(16, 154, 6, 1);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.sidebar_wrapper{
    float: left;
    width: 20%;
}
.sidebar_wrapper ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 20px;
    margin: 20px 0 0 0;
    background-color: rgba(16, 154, 6, 1);
    border-radius: 5px;
}
.sidebar_wrapper ul li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #fff;
}
.sidebar_wrapper ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    color: #fff;
    transition: all 300ms ease;
}
.sidebar_wrapper ul li a:hover{
    text-decoration: none;
    padding: 0 0 0 25px;
}
.content_wrapper{
    float: left;
    width: 80%;
    padding: 0 20px;
}
.content_wrapper{
    float: left;
    width: 80%;
    padding: 0 20px;
}
.content_wrapper .item_wrapper{
    width: 25%;
}


.I-top_reply{
    width: 100%;
    /*height: 300px;*/
}
.I-top_reply .reply_title{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.I-top_reply .reply_wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.I-top_reply .reply_wrapper .top{
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: #000;
    border: 1px solid #ccc;
    margin: 0 10px 0 0;
}
.I-top_reply .reply_wrapper .top.gold{
    background-color: #FFDC00;
    color: #fff;
}
.I-top_reply .reply_wrapper .top.silver{
    background-color: #DDDDDD;
    color: #fff;
}
.I-top_reply .reply_wrapper .top.copper{
    background-color: #b87333;
    color: #fff;
}

.I-top_reply .reply_wrapper .name{
    font-size: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #000;
    margin: 0 10px 0 0;
    width: 200px;
}
.I-top_reply .reply_wrapper .preview{
    width: 750px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.I-top_reply .reply_wrapper .view{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;    
}
.I-top_reply .reply_wrapper .vote{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;    
}
.I-top_reply .reply_wrapper .time{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;    
}

.I-detail_item{
    width: 100%;
}
.I-detail_item .title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 50px 0;
    color: #000;
}
.I-detail_item .detail{
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 50px 0;
    color: #000;
}
.I-detail_item .comment_wrapper{
    width: 100%;
    overflow: hidden;
}
.I-comment{
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.I-comment .username{
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.I-comment .detail_comment{
    width: 100%;
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.I-comment .action{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.I-comment .action i{
    margin: 0 10px 0 0;
}
.I-comment .action .comment{
    float: left;
    padding: 10px 20px;
}
.I-comment .action .comment i{
    color: #AAAAAA;
}
.I-comment .action .react{
    float: left;
    padding: 10px 20px;
}
.I-comment .action .react i{
    color: #FF4136;
}
.I-comment .reply_wrapper{
    width: 100%;
    padding: 0 0 0 50px;
}
.I-comment .reply_wrapper .reply_name{
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.I-comment .reply_wrapper .reply_comment{
    width: 100%;
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
}

.sidebar_wrapper .sidebar ul li a{
    background-color: rgba(9, 118, 1, 0.7);
    background-color: rgba(16, 154, 6, 0.5);
}



