
.item-0-0 {
    grid-area: auto / auto / span 2 / span 4;
}

.item-1-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-1-1 {
    grid-area: auto / auto / span 2 / span 2;
}

.item-2-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-2-1 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-2-2 {
    grid-area: auto / auto / span 1 / span 2;
}

.item-3-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-3-1 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-3-2 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-3-3 {
    grid-area: auto / auto / span 1 / span 1;
}

.item-4-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-4-1 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-4-2 {
    grid-area: auto / auto / span 3 / span 1;
}
.item-4-3 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-4-4 {
    grid-area: auto / auto / span 1 / span 2;
}

.item-5-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-5-1 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-5-2 {
    grid-area: auto / auto / span 3 / span 1;
}
.item-5-3 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-5-4 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-5-5 {
    grid-area: auto / auto / span 1 / span 1;
}

.item-6-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-6-1 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-6-2 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-6-3 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-6-4 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-6-5 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-6-6 {
    grid-area: auto / auto / span 1 / span 4;
}

.item-7-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-7-1 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-7-2 {
    grid-area: auto / auto / span 3 / span 1;
}
.item-7-3 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-7-4 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-7-5 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-7-6 {
    grid-area: auto / auto / span 1 / span 3;
}
.item-7-7 {
    grid-area: auto / auto / span 1 / span 4;
}

.item-8-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-8-1 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-8-2 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-8-3 {
    grid-area: auto / auto / span 3 / span 1;
}
.item-8-4 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-8-5 {
    grid-area: auto / auto / span 1 / span 3;
}
.item-8-6 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-8-7 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-8-8 {
    grid-area: auto / auto / span 1 / span 1;
}


.item-9-0 {
    grid-area: auto / auto / span 2 / span 2;
}
.item-9-1 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-9-2 {
    grid-area: auto / auto / span 3 / span 1;
}
.item-9-3 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-9-4 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-9-5 {
    grid-area: auto / auto / span 1 / span 1;
}
.item-9-6 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-9-7 {
    grid-area: auto / auto / span 1 / span 2;
}
.item-9-8 {
    grid-area: auto / auto / span 2 / span 1;
}
.item-9-9 {
    grid-area: auto / auto / span 1 / span 2;
}






