
.wrapper {
    width: 1200px;
    height: 100%;
    margin: auto;
}

header{
    width: 100%;
    position: fixed;
    height: 115px;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 300ms ease;
    /*background-color: #4267b2;*/
    /*border-bottom: 1px solid #29487d;*/
    /*background-color: #f1bbc8;*/
}

header.is-scroll{
	height: 115px;
	top: -45px;
	background-color: #fff;
}
header.is-scroll .page-header-wrapper{
	height: 70px;
}
header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li a{
	color: #1f1f1f;
}
header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li.current a{
	color: #6ecddd;
}
header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li a.booking{
	color: #fff;
}
header.is-scroll .no-scroll{
	display: none;
}
header.is-scroll .on-scroll{
	display: block;
}

.I-header{
	width: 100%;
	height: 100%;
    /*background-color: #141d28CC;*/
}
.I-header .no-scroll{
	display: block;
}
.I-header .on-scroll{
	display: none;
}
.I-header .page-topline{
	width: 100%;
	height: 45px;
	color: #fff;
}
.I-header .page-topline a{
	color: #fff;
}
.I-header .page-topline a:hover{
	color: #D1D1D1;
}
.I-header .page-topline .info_wrapper{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .page-topline .mail_wrapper{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .page-topline .mail_wrapper i{ }
.I-header .page-topline .mail_wrapper .time{
	display: flex;
	margin: 0 8px;
	font-size: 12px;
	font-weight: 300;
    transition: all 300ms ease;
}
.I-header .page-topline .telephone_wrapper{
	position: relative;
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .page-topline .telephone_wrapper::before{
	position: absolute;
	content: "";
	top: 12px;
	left: 0;
	width: 1px;
	height: 20px;
	background-color: #fff;
}
.I-header .page-topline .telephone_wrapper i{ }
.I-header .page-topline .telephone_wrapper .telephone{
	display: flex;
	margin: 0 8px;
	font-size: 12px;
	font-weight: 300;
    transition: all 300ms ease;
}
.I-header .page-topline .social_wrapper{
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}
.I-header .page-topline .social_wrapper .social-item{
	width: 16px;
	height: 16px;
	margin: 0 0 0 12px;
	font-size: 12px;
	display: flex;
	align-items: center;
    transition: all 300ms ease;
}
.I-header .page-header-wrapper{
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
    transition: all 300ms ease;
}
.I-header .page-header-wrapper .page-header_inside{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
    transition: all 300ms ease;
}
.I-header .page-header-wrapper .page-header_inside .logo_wrapper{
	position: relative;
	margin-right: auto;
	height: 35px;
}
.I-header .page-header-wrapper .page-header_inside .logo_wrapper img{
	height: 100%;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper{
	margin-left: auto;
	height: 55px;
	display: flex;
	justify-content: flex-end;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav{
	display: block;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header{
	display: none;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal{
	width: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #fff;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li{
	height: 100%;
	margin: 0 5px;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li a{
	position: relative;
	height: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #fff;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li.current a{
	color: #fff;
	font-weight: bold;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li.current a::before,
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li.current a::after{
	width: 100%;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li a.booking{
	background-color: #5f6368;
	color: #fff;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar{
	width: 45px;
	height: 100%;
	display: none;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal{
	position: relative;
	width: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #fff;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal.is-open > ul{
	display: block;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal::hover > ul{
	display: block;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal > ul{
	position: absolute;
	top: 50px;
	right: 0;
	width: 50px;
	display: none;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal > ul li{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal > ul li a{
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ccc;
}
@media only screen and (max-width: 1279px)
{
		

	body {
	    background-color: #fff;
	}  
	body.nav-open{
		overflow: hidden;
	}
	body.nav-open nav{
		left: 0 !important;
	}
	.wrapper {
	    width: 100%;
	    padding: 0 20px;
	}
	main{
	    padding: 0; 
	    margin: 0;
	    width: 100%;
	} 
	header{
	    height: 90px;
	}
	header.is-scroll{
		height: 85px;
		top: -40px;
	}
	header.is-scroll .page-header-wrapper{
		height: 45px;
	}
	header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon{
		background-color: #6ecddd;
	}
	header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon::before,
	header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon::after{
		background-color: #6ecddd;
	}
	header.is-scroll .I-header .page-header-wrapper .page-header_inside .navigation_wrapper .search_modal{
		color: #6ecddd;
	}

	.I-header .page-topline{
		height: 40px;
	}
	.I-header .page-header-wrapper{
		height: 50px;
	}
	.I-header .page-topline .telephone_wrapper::before{
		position: absolute;
		content: "";
		top: 2px;
		left: 0;
		width: 1px;
		height: 15px;
		background-color: #fff;
	}
	.I-header .page-topline .info_wrapper{
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.I-header .page-topline .social_wrapper{
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar{
		width: 45px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar{
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon{
		position: relative;
		width: 15px;
		height: 3px;
		background-color: #fff;
		transition: all 200ms ease;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon::before,
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon::after{
		position: absolute;
		content: "";
		background-color: #fff;
		width: 20px;
		height: 3px;
		right: 0;
		transition: all 200ms ease;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon::before{
		top: -7px;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar .icon::after{
		bottom: -7px;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar:hover .icon,
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar:hover .icon::before,
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper .control_navbar .open_navbar:hover .icon::after{
		width: 25px;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav{
		position: fixed;
		display: block;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		z-index: 1000;
		transition: all 300ms ease;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header{
		padding: 0 10px;
		display: block;
		width: 100%;
		height: 45px;
		background-color: #141d28CC;
		display: flex;
		align-items: center;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .logo_wrapper{
		margin-right: auto;
		height: 35px;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .logo_wrapper img{
		height: 100%;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .close_nav{
		margin-left: auto;
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .close_nav .icon{
		position: relative;
		width: 25px;
		height: 3px;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .close_nav .icon::before,
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .close_nav .icon::after{
		position: absolute;
		content: "";
		background-color: #fff;
		width: 25px;
		height: 3px;
		right: 0;
		transition: all 200ms ease;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .close_nav .icon::before{
		top: 0;
		transform: rotate(45deg);
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper nav .nav_header .close_nav .icon::after{
		bottom: 0;
		transform: rotate(-45deg);
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul{
		width: 100%;
		max-width: 300px;
		margin: 20px auto;
		height: auto;
		display: block;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li{
		height: 100%;
		margin: 0 5px;
	}
	.I-header .page-header-wrapper .page-header_inside .navigation_wrapper ul li a{
		position: relative;
		height: 100%;
		padding: 15px;
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #000;
	}
}