#root{
	margin: 50px auto;
	width: 500px;
	height: 350px;
	transition: all 200ms ease;
}
.bound{
	margin: 50px auto;
	width: 500px;
	height: 350px;
	transition: all 200ms ease;
}


.calendar-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}
.calendar-wrapper *{
	margin: 0;
}
.calendar-wrapper .calendar-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #004f6a;
	border-radius: 10px;
}
.calendar-wrapper .calendar-header .calendar-title{
	width: 200px;
	height: 100%;
	padding: 15px;
	color: #fff;
}
.calendar-wrapper .calendar-header .calendar-title .year{
	margin: 0 0 20px 0;
}
.calendar-wrapper .calendar-header .calendar-title .week{
	font-size: 24px;
}
.calendar-wrapper .calendar-header .calendar-title .month{
	font-size: 24px;
}
.calendar-wrapper .calendar-header .calendar-title .day{
	font-size: 24px;
}
.calendar-wrapper .calendar-main{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0 0 200px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main .calendar-days-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 4px 1px #3e3e3e;
}

/* Select Day Wrapper */
.calendar-wrapper .calendar-main .calendar-days{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	z-index: 1;
}
.calendar-wrapper .calendar-main .calendar-days .navigation-wrapper{
	width: 100%;
	height: 50px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calendar-wrapper .calendar-main .calendar-days .navigation-wrapper .prev-month{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.calendar-wrapper .calendar-main .calendar-days .navigation-wrapper .next-month{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.calendar-wrapper .calendar-main .calendar-days .navigation-wrapper .month-wrapper{
	width: calc(100% - 100px);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper{
	width: 100%;
	padding: 0 20px;
	display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
 	grid-gap: 8px;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper::before{
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper .days-item:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper .days-item{
    /*grid-row-start: 1;*/
    /*grid-column-start: 1;*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper .days-item.disabled{
	color: #ccc;
	cursor: no-drop;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper .days-item.selected_today{
	border: 1px solid #004f6a;
	color: #004f6a;
	border-radius: 50px;
}
.calendar-wrapper .calendar-main .calendar-days .days-wrapper .days-item.selected{
	background-color: #004f6a;
	color: #fff;
	border-radius: 50px;
}
/* END Select Day Wrapper */


/* Select Time Wrapper */
.calendar-wrapper .calendar-main .calendar-time{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	overflow: hidden;
	z-index: 2;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper{
	position: relative;
	width: 300px;
	height: 300px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper{
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	/*background-color: #004f6a;*/
	border: 5px solid #004f6a;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	color: #004f6a;
	border: 1px solid #004f6a;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item.disabled{
	color: #ccc;
	border: 1px solid #ccc;
	cursor: no-drop;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item.selected{
	color: #fff;
	background-color: #004f6a;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(1){
	top: 5px;
	left: 105px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(2){
	top: 20px;
	right: 55px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(3){
	top: 55px;
	right: 20px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(4){
	top: 105px;
	right: 5px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(5){
	bottom: 55px;
	right: 20px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(6){
	bottom: 20px;
	right: 55px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(7){
	bottom: 5px;
	left: 105px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(8){
	bottom: 20px;
	left: 55px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(9){
	bottom: 55px;
	left: 20px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(10){
	top: 105px;
	left: 5px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(11){
	top: 55px;
	left: 20px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .hour-wrapper .clock-wrapper .clock-item:nth-child(12){
	top: 20px;
	left: 55px;
}


.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: #004f6a;*/
	border: 5px solid #004f6a;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .backto-hour{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: #004f6a;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-style: 24px;
	cursor: pointer;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	color: #004f6a;
	border: 1px solid #004f6a;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item.disabled{
	color: #ccc;
	border: 1px solid #ccc;
	cursor: no-drop;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item.selected{
	color: #fff;
	background-color: #004f6a;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item:nth-child(2){
	top: 5px;
	left: 80px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item:nth-child(3){
	top: 80px;
	right: 5px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item:nth-child(4){
	bottom: 5px;
	left: 80px;
}
.calendar-wrapper .calendar-main .calendar-time .calendar-time-wrapper .minute-wrapper .clock-wrapper .clock-item:nth-child(5){
	top: 80px;
	left: 5px;
}


.calendar-wrapper .calendar-main .calendar-time.minute-select .hour-wrapper{
  	-webkit-filter: blur(15px);
  	-moz-filter: blur(15px);
  	-o-filter: blur(15px);
  	-ms-filter: blur(15px);
  	filter: blur(15px);
  	z-index: 1;
}
.calendar-wrapper .calendar-main .calendar-time.minute-select .minute-wrapper{
	z-index: 2;
	visibility: visible;
	opacity: 1;
	transition: all 300ms ease;
}

/* END Select Time Wrapper */

/* Calendar Form */
.calendar-wrapper .calendar-main .calendar-form{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
	left: 300%;
	z-index: 2;
	padding: 20px;
}
.calendar-wrapper .calendar-main .calendar-form h2{
	font-size: 18px;
	margin: 0 0 10px 0;
}
.calendar-wrapper .calendar-main .calendar-form p{
	font-size: 12px;
	margin: 0 0 10px 0;
}
.calendar-wrapper .calendar-main .calendar-form input{
	width: 100%;
	height: 32px;
	margin: 0 0 10px 0;
	padding: 0 5px;
	border: 1px solid #004f6a;
}
.calendar-wrapper .calendar-main .calendar-form textarea{
	width: 100%;
	height: 64px;
	margin: 0 0 10px 0;
	padding: 0 5px;
	resize: none;
	border: 1px solid #004f6a;
}
.calendar-wrapper .calendar-main .calendar-form .submit{
	width: 100%;
	display: flex;
	justify-content: center;
}
.calendar-wrapper .calendar-main .calendar-form .submit button{
	margin: auto;
	width: 100px;
	height: 32px;
	color: #004f6a;
	border: 1px solid #004f6a;
	background-color: #fff;
}
/* END Calendar Form */


/* Control Wrapper */
.calendar-wrapper .calendar-main .calendar-controls{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/*height: 50px;*/
	z-index: 1000;
}
.calendar-wrapper .calendar-main .calendar-controls .calendar-button{
	position: absolute;
	width: 50px;
	height: 50px;
	/*border: 1px solid #fff;*/
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main .calendar-controls .calendar-button.f-calendar i{
	position: absolute;
	top: 26px;
	left: 8px;
	z-index: 1;
}
.calendar-wrapper .calendar-main .calendar-controls .calendar-button.f-calendar::before{
	position: absolute;
	content: "";
	top: 15px;
	left: -35px;
	width: 70px;
	height: 70px;
	transform: rotate(45deg);
	background-color: #004f6a;
	z-index: 0;
}
.calendar-wrapper .calendar-main .calendar-controls .calendar-button.f-info i{
	position: absolute;
	top: 26px;
	left: 8px;
	z-index: 1;
}
.calendar-wrapper .calendar-main .calendar-controls .calendar-button.f-info::before{
	position: absolute;
	content: "";
	top: 15px;
	left: -35px;
	width: 70px;
	height: 70px;
	transform: rotate(45deg);
	background-color: #004f6a;
	z-index: 0;
}
.calendar-wrapper .calendar-main.show-calendar .calendar-days{
	top: 0;
	left: 0;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main.show-calendar .calendar-time{
	top: 0;
	left: 100%;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main.show-calendar .calendar-form{
	top: 0;
	left: 200%;
	transition: all 300ms ease;
}
.calendar-wrapper .calendar-main.show-clock .calendar-days{
	top: 0;
	left: -100%;
}
.calendar-wrapper .calendar-main.show-clock .calendar-time{
	top: 0;
	left: 0;
}
.calendar-wrapper .calendar-main.show-clock .calendar-form{
	top: 0;
	left: 100%;
}
.calendar-wrapper .calendar-main.show-form .calendar-days{
	top: 0;
	left: -200%;
}
.calendar-wrapper .calendar-main.show-form .calendar-time{
	top: 0;
	left: -100%;
}
.calendar-wrapper .calendar-main.show-form .calendar-form{
	top: 0;
	left: 0;
}
.calendar-wrapper .calendar-main.show-calendar .calendar-controls .calendar-button.f-calendar{
	bottom: 0;
	left: -100%;
}
.calendar-wrapper .calendar-main.show-calendar .calendar-controls .calendar-button.f-info{
	bottom: -300px;
	left: 0%;
}
.calendar-wrapper .calendar-main.show-clock .calendar-controls .calendar-button.f-calendar{
	bottom: 0;
	left: 0;
}
.calendar-wrapper .calendar-main.show-clock .calendar-controls .calendar-button.f-info{
	bottom: -300px;
	left: 0;
}
.calendar-wrapper .calendar-main.show-form .calendar-controls .calendar-button.f-calendar{
	bottom: 0;
	left: -100%;
}
.calendar-wrapper .calendar-main.show-form .calendar-controls .calendar-button.f-info{
	bottom: 0;
	left: 0;
}
/*END Control Wrapper */

