.I-left_side{
	float: left;
	width: 180px;
}
.I-left_side .left_side_wrapper{
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
}
.I-left_side .left_side_wrapper .user_wrapper{
	width: 100%;
	margin: 0 0 10px 0;
	height: 30px;
	display: flex;
	align-items: center;
}
.I-left_side .left_side_wrapper .user_wrapper .avatar{
	margin: 0 5px 0 0;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	overflow: hidden;
}
.I-left_side .left_side_wrapper .user_wrapper .avatar img{
	width: 100%;
}
.I-left_side .left_side_wrapper .user_wrapper{
	width: 100%;
	margin: 0 0 10px 0;
	height: 30px;
	background-color: red;
}







.I-content_side{
	float: left;
	width: 600px;
	height: 1000px;
	background-color: blue;
}
.I-right_side{
	float: left;
	width: 300px;
	height: 1000px;
	background-color: red;
}