
.I-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 1000;
	background-color: #fff;
}
.I-header .control{
	margin-left: auto;
	height: 45px;
	display: flex;
	align-items: center;
}
.I-header .control .logo{
	float: left;
	margin: 0 5px;
}
.I-header .control .logo img{
	width: 235px;
}
.I-header .control .logo img:nth-child(1){
	display: none;
}
.I-header .control .logo img:nth-child(2){
	display: block;
}
.I-header .control .logo.jp  img:nth-child(1){
	display: block;
}
.I-header .control .logo.jp  img:nth-child(2){
	display: none;
}
.I-header .control .menu-toggle{
	margin: 0 5px;
	float: left;
	width: 75px;
	height: 75px;
	background-color: #00b3f0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 24px;
}
.I-header .control .language-toggle{
	float: left;
	margin: 0 5px;
	width: 30px;
	height: 75px;
}
.I-header .control .language-toggle a{
	float: left;
	width: 100%;
	height: 30px;
	color: #00b3f0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 15px 0;
}
.I-header .control .language-toggle a:hover{
	background-color: #00b3f0;
	color: #ffffff;
}
.I-header .control .language-toggle a.is-select{
	background-color: #00b3f0;
	color: #ffffff;
}
.I-sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	visibility: hidden;
    background: url(../images/navigation_bg.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	opacity: 0;
	transition: all 300ms ease;
}
.I-sidebar.is-open{
	visibility: visible;
	opacity: 1;
}
.I-sidebar::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3c3c3cab;
}
.I-sidebar .navigation{
	width: 100%;
	max-width: 500px;
	height: 100%;
	background-color: #242424cf;
	z-index: 1;
	padding: 10px;
	overflow-y: scroll;
}
.I-sidebar .navigation .nav_header{
	position: relative;
	width: 100%;
	height: 60px;
	/*background-color: red;*/
	display: flex;
	align-items: center;
}
.I-sidebar .navigation .nav_header .logo{
	margin-right: auto;
	width: 100%;
	height: 100%;
	padding: 0 0 0 80px;
}
.I-sidebar .navigation .nav_header .logo img{
	height: 100%;
}
.I-sidebar .navigation .nav_header .logo img:nth-child(1){
	display: none;
}
.I-sidebar .navigation .nav_header .logo img:nth-child(2){
	display: block;
}
.I-sidebar .navigation .nav_header .logo.jp  img:nth-child(1){
	display: block;
}
.I-sidebar .navigation .nav_header .logo.jp  img:nth-child(2){
	display: none;
}
.I-sidebar .navigation .nav_header .close_nav{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
}
.I-sidebar .navigation .nav_content{
	width: 100%;
	padding: 20px 80px;
	border-bottom: 1px solid #ccc;
}
.I-sidebar .navigation .nav_content ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.I-sidebar .navigation .nav_content ul li{
	width: 100%;
	height: 50px;
	overflow: hidden;
	transition: all 300ms ease;
}
.I-sidebar .navigation .nav_content ul li.sub_menu{
	position: relative;
}
.I-sidebar .navigation .nav_content ul li.sub_menu.is-open{
	height: auto;
}
.I-sidebar .navigation .nav_content ul li.sub_menu ul{
	background-color: #ffffff1a;
	border-radius: 5px;
}
.I-sidebar .navigation .nav_content ul li.sub_menu ul li{
	height: 40px;
}
.I-sidebar .navigation .nav_content ul li.sub_menu ul li a{
	padding: 0 30px;
	font-size: 16px;
	height: 100%;
}
.I-sidebar .navigation .nav_content ul li.sub_menu .open_submenu{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
}
.I-sidebar .navigation .nav_content ul li.sub_menu.is-open .open_submenu{
	transform: rotate(180deg);
}
.I-sidebar .navigation .nav_content ul li a{
	width: 100%;
	height: 50px;
	/*background-color: red;*/
	display: flex;
	align-items: center;
	font-size: 20px;
	color: #ccc;
}
.I-sidebar .navigation .nav_content ul li a:hover{
	color: #fff;
}
.I-sidebar .navigation .nav_footer{
	width: 100%;
	padding: 10px 80px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-sidebar .navigation .nav_footer .item_contact{
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccc;
}
.I-sidebar .navigation .nav_footer .item_contact:hover{
	color: #fff;
}
.I-sidebar .navigation .nav_language{
	width: 100%;
	padding: 10px 80px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-sidebar .navigation .nav_language .item_language{
	float: left;
	width: 100%;
	height: 30px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px 0 0;
}
.I-sidebar .navigation .nav_language .item_language:hover{
	background-color: #fff;
	color: #18191b;
}
.I-sidebar .navigation .nav_language .item_language.is-select{
	background-color: #fff;
	color: #18191b;
}

.I-main{
	width: 100%;
	height: 1000px;
}
.I-main .main_wrapper{
	width: 100%;
}

.I-carousel{
	width: 100%;
}
.I-carousel .carousel_wrapper{
	width: 100%;
    background: url(../images/slider-bg.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.I-carousel .carousel_wrapper .item_carousel{
	width: 100%;
	height: 100vh;
}
.I-head_data{
	position: relative;
	width: 100%;
	height: 250px;
    background: url(../images/banner_05.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.I-head_data::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3c3c3cab;
}

.I-data{
	margin: 10px 0 0 0;
	width: 100%;
}
.I-data .data_header{   
	width: 100%;
    /*background: url(../images/Risorsa_3.svg);*/
	/*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-image: url("../images/services.png");
    background-origin: padding-box;
    background-clip: border-box;
	background-size: cover;
    background-position-x: center;
    background-position-y: center;
	background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.I-data .data_header ul{   
	padding: 10px 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	font-size: 0;
}
.I-data .data_header ul li{ 
	display: inline-block;
	margin: 1px;
}
.I-data .data_header ul li h3{   
	margin: 0;
	width: 250px;
	height: 70px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000ab;
	color: #fff;
	cursor: pointer;
}
.I-data .data_header ul li h3:hover{  
	color: #00b3f0;
}
.I-data .data_header ul li h3.is-select{  
	color: #00b3f0;
}
.I-data .data_wrapper{
	margin: 10px 0;
	color: #fff;
}
.I-data .data_wrapper .data_background{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px 0;
    background-repeat: no-repeat;
    background-image: url("../images/services.png");
    background-origin: padding-box;
    background-clip: border-box;
	background-size: cover;
    background-position-x: center;
    background-position-y: center;
	background-attachment: fixed;
}
.I-data .data_wrapper .data_background::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000ab;
	z-index: 1;
}
.I-data .data_wrapper .data_content_wrapper{
	position: relative;
	width: 100%;
	z-index: 2;
}
.I-data .data_wrapper .data_detail{

}
.I-data .data_content{    
	/*height: 1000px;*/
	display: grid;
  	grid-gap: 5px;
  	grid-template-columns: repeat(6, 1fr);
  	grid-auto-rows: 1fr;
  	padding: 10px;
}
.I-data .data_content::before {
  	content: '';
  	width: 0;
  	padding-bottom: 100%;
  	grid-row: 1 / 1;
  	grid-column: 1 / 1;
}
.I-data .data_content .data_item:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.I-data .data_content .data_item{    
	width: 100%;
	background-color: red;
}












