@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body{
	margin: 0;
	padding: 0;
	font-family: 'Dosis', 'Roboto', sans-serif;
	/*background-color: #1D0F5C;*/
}

.body{
	position: relative;
	width: 100%;
	height: 100vh;
	/*transform: rotate(90deg);*/
}
.button{
	position: absolute;
	bottom: 100px;
	left: 100px;
	width: 50px;
	height: 50px;
	background-color: red;
}