.I-contactus{

}
.I-contactus .wrapper{
	
}
.I-contactus .title{
	font-size: 32px;
	margin: 80px 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #b59a45;
	text-align: center;
	overflow: hidden;
}
.I-contactus .slogan{
	font-size: 24px;
	margin: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	overflow: hidden;
}
.I-contactus .address{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
	/*font-weight: bold;*/
}
.I-contactus .map{
	margin: 80px 0;
	display: flex;
	justify-content: center;
}
.I-contactus .phone{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.I-contactus .email{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
	text-transform: uppercase;
}
.I-contactus .timestart{
	position: relative;
	padding: 50px 0;
}
.I-contactus .timestart::before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 40%;
	width: 20%;
	height: 1px;
	background-color: #000;
}
.I-contactus .timestart .title{
	font-size: 20px;
	margin: 10px 0;
	color: #b59a45;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.I-contactus .timestart .time{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.I-contactus .timestart .text{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.I-contactus .sale{
	position: relative;
	padding: 50px 0;
}
.I-contactus .sale .title{
	font-size: 20px;
	margin: 10px 0;
	color: #b59a45;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
.I-contactus .sale .mail{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
	text-transform: uppercase;
}
.I-contactus .sale .phone{
	font-size: 20px;
	margin: 10px 0;
	color: #000;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
}
























