.I-showroom{

}
.I-showroom .wrapper{
	padding: 120px 80px;
}
.I-showroom .wrapper .content_1{
	
}
.I-showroom .wrapper .content_1 .text{
	font-size: 22px;
}
.I-showroom .wrapper .content_1 .wrapper-image{
	padding: 0 0 0 100px;
}
.I-showroom .wrapper .content_1 .wrapper-image .image{
	width: 100%;
}
.I-showroom .wrapper .content_1 .wrapper-image .image img{
	width: 100%;
}
.I-showroom .wrapper .content_1 .wrapper-image .image-detail{

}























