.I-history{
	overflow: hidden;
	padding: 80px 0 50px 0;
}
.I-history .wrapper{
	padding: 0 5% 0 5%;
}
.I-history .wrapper .history-title{
	color: #b59a45;
}
.I-history .wrapper .history-detail h3{
	color: #3a3a3a;
	line-height: 35px;
}




































