.image_wrapper{
    width: 500px;
    height: 500px;
    margin: auto;
    background: url(../images/img_02.JPG), url(../images/img_05.JPG);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
}
