.image_wrapper{
    width: 500px;
    height: 500px;
    margin: auto;
    background: url(../images/img_02.JPG), url(../images/28597c62ff8f9aa.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
}
