@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px
14. 376px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px){
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

@media only screen and (min-width: 1024px)
{
	
	/*.Bar{
		position: fixed;
		top: 0;
		left: 0;
		padding-left: 250px;
		width: 100%;
		height: 55px;
		background-color: rgba(42, 63, 84, .3);
		display: flex;
		align-items: center;
		transition: all 300ms ease;
		z-index: 1000;
	}
	.Nav{
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100%;
		background-color: rgba(42, 63, 84, .3);
		transition: all 300ms ease;
		z-index: 999;
	}
	

	.Main{
		position: absolute;
		left: 250px;
		width: calc(100% - 250px);
		min-height: calc(100% - 55px);
		padding-bottom: 6000px;
		transition: all 300ms ease;
		overflow: hidden;
		z-index: 1;
	}*/
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{	

	
	.Bar{
		position: fixed;
		top: 0;
		left: 0;
		padding-left: 0;
		width: 100%;
		height: 55px;
		/*background-color: #2A3F54;*/
		/*opacity: .3;*/
		/*background-color: white;*/
		display: flex;
		align-items: center;
		transition: all 300ms ease;
		z-index: 1000;
	}
	.Nav{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		/*opacity: .3;*/
		transition: all 300ms ease;
		z-index: 999;
	}
	.Main{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 0);
		padding-bottom: 600px;
		transition: all 300ms ease;
		overflow: hidden;
		z-index: 1;
	}

	.Control_Nav{
		display: none !important;
	}
	.Control_Nav_Responsive{
		display: flex;
	}
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{	

}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}

/************
14. 376px
************/

@media only screen and (max-width: 376px)
{
	
}




@media only screen and (min-width: 1560px)
{
	.Main_In .Bound_Item{
		grid-template-columns: 207.7px 207.7px 207.7px 207.7px 207.7px 207.7px;
	}
}
/************
9.1. 1560px
************/

@media only screen and (max-width: 1560px)
{
	.Main_In .Bound_Item{
		grid-template-columns: 207.7px 207.7px 207.7px 207.7px 207.7px;
	}
}
/************
9.1. 1120px
************/

@media only screen and (max-width: 1330px)
{
	.Main_In .Bound_Item{
		grid-template-columns: 207.7px 207.7px 207.7px 207.7px;
	}
}

/************
9.1. 1120px
************/

@media only screen and (max-width: 1140px)
{
	.Main_In .Bound_Item{
		grid-template-columns: 207.7px 207.7px 207.7px;
	}
}

/************
9.1. 676px
************/

@media only screen and (max-width: 680px)
{
	.Main_In .Bound_Item{
		grid-template-columns: 207.7px 207.7px;
	}
}
@media only screen and (min-width: 475px)
{
	
	.video{
		max-height: 120px;
	}
}
/************
9.1. 676px
************/

@media only screen and (max-width: 475px)
{
	.Main_In .Bound_Item{
		grid-template-columns: 90%;
	}
	.Item{
		width: 100%;
	}
}
