@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px
14. 376px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px){
	
	

}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
4. 1024px
************/

@media only screen and (min-width: 1024px)
{

}
/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{

}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{

header{
	height: 65px;
}
.I-header{
	height: 65px;
}
.I-header .header-wrapper{
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.I-header .header-language{
	position: relative;
	width: 120px;
	height: 35px;
	padding: 9px;
	background-color: #F8F8F8;
	margin-right: 10px;
}
.I-header .header-language .language-title{
	display: block;
	float: right;
	font-size: 1.2rem;
	color: #797979;
}
.I-header .header-language .language-nav{
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	background-color: white;
	border: 1px solid #d8caac;
}
.I-header .header-language .language-nav.is-active{
	display: block;
}
.I-header .header-language .language-nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
.I-header .header-language .language-nav ul li{
	float: left;
	padding: 10px;
	width: 100%;
}
.I-header .header-language .language-nav ul li:not(:last-child){
	border: none;
}
.I-header .header-language .language-nav ul li a{
	font-size: 1.4rem;
	color: #797979;
}
.I-header .header-language .language-nav ul li a:hover{
	
}
.I-header .header-language .language-title .language-title-icon{
	float: left;
}
.I-header .header-language .language-title .language-title-icon.is-active{
	transform: rotate(180deg);
}
.I-header .header-navication{
	display: none;
}
.I-header .header-respon_navication{
	position: absolute;
	top: 65px;
	right: 0;
	width: 100%;
	max-width: 300px;
	display: none;
	height: calc( 100vh - 65px);
	overflow-y: scroll;
	background-color: #fff;
}
.I-header .header-respon_navication.is-active{
	display: block;
}
.I-header .header-respon_navication .menu-item{
	padding: 20px 0 20px 30px;
	border-bottom: 1px solid #C7B58A;
}
.I-header .header-respon_navication .menu-item .item-title{
	position: relative;
	font-size: 1.4rem;
	line-height: 19px;
	color: #4D4D4D;
}
.I-header .header-respon_navication .menu-item .item-title .content-icon{
	position: absolute;
	top: 0;
	right: 30px;
	display: block;
}
.I-header .header-respon_navication .menu-item .item-title .content-icon.is-active .icon-open{
	display: block;
}
.I-header .header-respon_navication .menu-item .item-title .content-icon .icon-open{
	display: none;
}
.I-header .header-respon_navication .menu-item .item-title .content-icon.is-active .icon-close{
	display: none;
}
.I-header .header-respon_navication .menu-item .item-title .content-icon .icon-close{
	display: block;
}
.I-header .header-respon_navication .menu-item .item-content{
	margin-top: 20px;
	display: none;
	font-size: 1.4rem;
}
.I-header .header-respon_navication .menu-item .item-content.is-selected{
	display: block;
}
.I-header .header-respon_navication .menu-item .item-content .item-content-text{
	position: relative;
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #C7B58A;
}
.I-header .header-respon_navication .menu-item .item-content .item-content-text .icon-content-text{
	position: absolute;
	top: 15px;
	right: 30px;
	display: block;
}
.I-header .header-respon_navication .menu-item .item-content .sub-content{
	padding: 15px 0 15px 15px;
	border-bottom: none;
}

.I-header .header-respon_navication .menu-item .item-subcontent{
	margin-top: 20px;
	font-size: 1.4rem;
}
.I-header .header-respon_navication .menu-item .item-subcontent .item-subcontent-text{
	padding: 8px 0 8px 8px;
}
.I-header .header-respon_navication .searchform{
	position: relative;
	width: 100%;
	background-color: #F8F8F8;
	padding: 35px 30px;
	overflow: hidden;
}
.I-header .header-respon_navication .searchform input{
	width: 100%;
	height: 50px;
	font-size: 1.2rem;
	padding: 17px;
	border: none;
	border-bottom: 1px solid #8D7131;
}
.I-header .header-respon_navication .searchform button{
	position: absolute;
	width: 46px;
	height: 46px;
	top: 37px;
	right: 30px;
	border: none;
	background-color: #B59C63;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-header .header-respon_navication .society{
	padding: 60px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}
.I-header .header-respon_navication .society a{
	margin: 0 22px;
}
.I-header .header-respon_menu{
	position: fixed;
	top: 0;
	right: 0;
	width: 63px;
	height: 63px;
	background-color: #F8F8F8;
	display: flex;
	align-items: center;
	justify-content: center;
}
.I-header .header-respon_menu .menu-btn-image{
	display: none;
}
.I-header .header-respon_menu .menu-btn-image.is-active{
	display: block;
}



}
/************
9. 768px
************/

@media only screen and (max-width: 768px)
{



}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{


}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{

}

/************
14. 376px
************/

@media only screen and (max-width: 376px)
{
	


}

/************
15. 320px
************/

@media only screen and (max-width: 320px)
{


}