/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Dosis');*/
/*@import url('https://fonts.googleapis.com/css?family=Arial');*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*@import url('https://fonts.googleapis.com/css?family=Kalam');*/

body{
	margin: 0;
	padding: 0;
	font-family: 'poppins', 'Arial', 'Dosis', 'Roboto', sans-serif;
	/*min-width: 550px;*/
	/*overflow: hidden;*/
	/*background-color: #1D0F5C;*/
	font-size: 67.5%;
	background-color: white;
	/*height: 10000px;*/
}


/*TASK 1*/
/*
.process_bar{

	margin: 20px auto;

	width: 600px;
	height: 20px;
	border: 1px solid #ccc;
	overflow: hidden;

}
.process_bar .point_bar{

	width: 0px;
	height: 20px;
	background-color: #62d3e9;
	transition: all 300ms ease;
}

.control{
	cursor: pointer;
}
*/
/*End TASK 1*/

.component{
	margin: 20px auto;
	width: 800px;
	/*height: 100px;*/
}

.process_bar{
	position: relative;
	width: 100%;
	height: 15px;
	font-size: 1rem;
}

.process_bar .point_bar{
	width: 100%;
	height: 3px;
	background-color: #62d3e9;
	transition: all 300ms ease;
}

.process_bar .circle_point{
	position: absolute;
	top: -15px;
	left: -15px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 30px;
	height: 30px;
	border: 3px solid #fff;
	transition: all 300ms ease;
}
.process_bar .circle_point.hasClick{
	cursor: pointer;
}
.process_bar .circle_point.clearBorder{
	border-color: #fff !important;
}
.process_bar .circle_point.done{
	border-color: #62d3e9;
	background-color: #62d3e9;
}
.process_bar .circle_point.edit{
	border-color: #6aa1ac;
	background-color: #6aa1ac;
}
.process_bar .circle_point.wait{
	background-color: #ccc;
}



.task{
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
	margin: auto;
}
.task .task_col{
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
	min-height: 40px;
	font-size: 1.5rem;
}
.task .task_col .btn{
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 7px;
}
.task .task_col .btn.active{
	background-color: #558ed5;
	color: white;
}
.task .task_col .task_col-subbody{
	float: left;
}
.task .task_col .task_col-subbody .title{
	float: left;
	height: 34px;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	/*margin: 0 10px;*/
	font-weight: bold;
}
.task .task_col .task_col-subbody input{
	float: left;
	height: 34px;
	border: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 7px;
}
.task .task_col .task_col-subbody textarea{
	resize: none;
	float: left;
	height: 80px;
	border: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 7px;
}
.task .task_col .task_col-subbody button{
	float: left;
	height: 34px;
	border: none;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin: 0 5px;
}


.task .task_col .task_col-subbody .select-wrapper select {
  	border: 0 !important;
  	border-radius: 0;
  	-webkit-appearance:none;
  	-moz-appearance:none;
  	appearance:none;
  	text-indent: 0.01px;
  	text-overflow: "";
 	 font-size: inherit;
 	line-height: inherit;
  	width: 90%;
}
.task .task_col .task_col-subbody .select-wrapper select::-ms-expand {
  	display: none;
}	


.task .task_col .task_col-subbody .select-wrapper {
	float: left;
 	position: relative;
	border: none;
	border: 1px solid #ccc;
	border-radius: 7px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.task .task_col .task_col-subbody .select-wrapper:after {
  	content: "";
  	width: 0;
  	height: 0;
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 6px solid #666;
  	position: absolute;
  	right: 14px;
  	top: 14px;
	border-radius: 50px;
  	pointer-events: none;
}
.control{
	font-size: 3rem;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.control .control_button{
	margin: 0 10px;
	cursor: pointer;
}
.btn{
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.one_row_button{
	margin: 0 5px !important;
}
.mg-5{
	margin: 5px;
}
#select-1{
	display: none;
}
#select-2{
	display: none;
}
.block{
	display: block !important;
}
.justify-center{
	justify-content: center;
}
.W5{
    width: 5% !important;
}
.W10{
    width: 10% !important;
}
.W15{
    width: 15% !important;
}
.W20{
    width: 20%  !important;
}
.W25{
    width: 25%  !important;
}
.W30{
    width: 30%  !important;
}
.W35{
    width: 35%  !important;
}
.W40{
    width: 40%  !important;
}
.W45{
    width: 45%  !important;
}
.W50{
    width: 50%  !important;
}
.W55{
    width: 55%  !important;
}
.W60{
    width: 60%  !important;
}
.W65{
    width: 65%  !important;
}
.W70{
    width: 70%  !important;
}
.W75{
    width: 75%  !important;
}
.W80{
    width: 80%  !important;
}
.W85{
    width: 85%  !important;
}
.W90{
    width: 90%  !important;
}
.W95{
    width: 95%  !important;
}
.W100{
    width: 100%  !important;
}

.H50{
	height: 50px  !important;
}
.detail_title{
	padding-left: 5px;
	color: white;
	background-color: #e500e5;
}
.detail_column{
	border-bottom: 1px solid #ccc;
}
.task_patient_detail{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}
.text-center{
	display: flex;
	justify-content: center;
}
.custom_badge{
	float: left;
	font-weight: bold;
	margin: 2px;
	padding: 3px 5px;
	background-color: #28a745;
	color: white;
}
.pd_x_20{
	padding: 0 20px;
}
.pd_x_10{
	padding: 0 10px;
}
.task_main{
	float: left;
}
.task_scroll{
	float: left;
	padding: 0 10px;
	overflow-y: scroll !important;;
	max-height: 80vh;
}














