@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Arial');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Kalam');

body{
	margin: 0;
	padding: 0;
    font-family: 'poppins', 'Arial', 'Dosis', 'Roboto', sans-serif;
	/*background-color: #1D0F5C;*/
}

/* CONFIG */
.component{
	margin: auto;
	width: 80%;
	max-width: 1200px;
	height: 100%;
}
.MX-flex{
	display: flex;
	justify-content: center;
}
.MY-flex{
	display: flex;
	align-items: center;
}
.MA-flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.b-black{
	background-color: black !important;
}
.c-black{
	color: black !important;
}






.W0{
	width: 0 !important;
}
.W10{
    width: 10% !important;
}
.W20{
    width: 20%  !important;
}
.W25{
    width: 25%  !important;
}
.W30{
    width: 30%  !important;
}
.W35{
    width: 35%  !important;
}
.W40{
    width: 40%  !important;
}
.W50{
    width: 50%  !important;
}
.W60{
    width: 60%  !important;
}
.W70{
    width: 70%  !important;
}
.W80{
    width: 80%  !important;
}
.W90{
    width: 90%  !important;
}
.W100{
    width: 100%  !important;
}

.left{
    float: left !important;
}
.right{
    float: right !important;
}

/* CONFIG */









/* ________________________________  Header ________________________________  */

.header{
	width: 100%;
	overflow: hidden;
}
.header_in{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.header_in::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 30%;
	clip-path: polygon(0 50%, 0% 100%, 100% 100%);
	background-color: white;
	z-index: 3;
}
.header_in::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 30%;
	clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
	background-color: white;
	z-index: 3;
}
.header_front{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	z-index: 2;
}
.header_nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, .0);
	z-index: 1000;
	transition: all 300ms ease;
}
.header_nav .menu{
	
}
.header_nav .menu ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.header_nav .menu ul li {
	float: left;
	padding: 20px 10px;
}
.header_nav .menu ul li a{
	position: relative;
	display: block;
	color: white;
}
.header_nav .menu ul .submenu_bound{
	position: relative;
}
.header_nav .menu ul .submenu_bound i{
	margin: 0 2px;
	transition: all 300ms ease;
}
.header_nav .menu ul .submenu_bound:hover i{
	transform: rotate(180deg);
	transition: all 300ms ease;
}

.header_nav .menu ul .submenu_bound:hover .submenu{
	top: 50px;
	opacity: 1;
	transition: all 300ms ease;
}
.header_nav .menu ul .submenu_bound .submenu{
	position: absolute;
	border-top: 2px solid #ffa726;
	top: -150px;
	min-width: 200px;
	transition: all 300ms ease;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
}
.header_nav .menu ul .submenu_bound .submenu li{
	padding: 10px;
	width: 100%;
}
.header_nav .menu ul li a:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #ffa726;
	transition: all 300ms ease;
}
.header_nav .menu ul li a:hover{
	color: #ffa726;
	text-decoration: none;
	transition: all 300ms ease;
}
.header_nav .menu ul li a:hover:before{
	width: 100%;
	text-decoration: none;
	transition: all 300ms ease;
}
.header_carousel{
	width: 100%;
	height: 100vh;
	/*min-height: 650px;*/
	/*overflow: hidden;*/
}
.item_carousel{
	width: 100%;
}
.item_carousel img{
	margin: auto;
	/*width: 100%;*/
	min-width: 1440px;
}


/* ________________________________ End Header ________________________________  */






.body{
	width: 100%;
	height: 3000px;
}
.preview{
	width: 100%;
	overflow: hidden;
	padding: 100px;
}
.item1{
	width: 100%;
	overflow: hidden;
	padding: 10px;
}
.item2{
	position: relative;
	width: 100%;
	padding: 10px;
	overflow: hidden;
}
.item2::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 20px;
	padding: 10px;
	background-color: white;
	top: 40%;
	left: 0;
	z-index: 2;
}
.item img{
	width: 100%;
}












