@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Arial');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Kalam');

body{
	margin: 0;
	padding: 0;
	font-family: 'poppins', 'Arial', 'Dosis', 'Roboto', sans-serif;
	min-width: 550px;
	/*overflow: hidden;*/
	/*background-color: #1D0F5C;*/
}
section.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 550px;
	height: 80px;
	background-color: #068c71;
	z-index: 1000;
  	box-shadow: 0px 1px 3px #000;
}
section.header .open-menu{
	float: right;
	margin: 20px 10px;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: white;
	/*background-color: red;*/
	cursor: pointer;
	display: none;
}
.container{
	width: 100%;
	max-width: 1170px;
}
section{
	overflow: hidden;
}
section.logo{
	float: left;
	width: 100px;
	overflow: hidden;
}
.logo img{
	width: 100%;
}
section.nav{
	float: right;
	overflow: hidden;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section nav{
	overflow: hidden;
}
section nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
section nav ul li{
	float: left;
}
section nav ul li a{
	color: white;
	padding: 10px;
}
section nav ul li a:hover{
	color: white;
	text-decoration: none;
}
section.content{
	margin-top: 90px;
	width: 100%;
	overflow: hidden;
	/*padding-bottom: 500px;*/
	/*height: 1000px;*/
}
section.content menu{
	/*width: 100%;*/
	margin: 0;
	padding: 20px;
	list-style-type: none;
	background-color: #068c71;
	border-radius: 5px;
  	box-shadow: 1px 1px 3px #000;
	transition: all 300ms ease;
}
section.content menu ul{
	list-style-type: none;
}
section.content menu a{
	color: white;
	width: 100%;
	display: block;
	padding: 5px;
	transition: all 100ms ease;
}
section.content menu a:hover{
	text-decoration: none;
	color: #068c71;
	background-color: white;
	border-radius: 5px;
	transition: all 100ms ease;
}
section.content .title-list-item{
	width: 100%;
	height: 50px;
	margin: 10px 0;
	clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
	background-color: #068c71;
}
section.content .title-list-item h4{
	float: left;
	color: white;
	padding: 5px 0;
	margin: 10px 20px;
}
section.content .title-list-item a h4{
	float: right;
	margin: 10px 50px;
	color: white;
}
section.content .card{
	width: 100%;
	/*background-color: #068c71;*/
	border-radius: 5px;
  	box-shadow: 1px 1px 3px #000;
  	overflow: hidden;
  	margin: 10px 0;
  	cursor: pointer;
}
section.content .card img{
	width: 100%;
}



section.footer{
	width: 100%;
	height: 200px;
	background-color: #068c71;
}


td img{
	width: 100px;
}
.count{
	width: 100%;
	height: 50px;
	margin: 10px 0;
	clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);
	background-color: #068c71;
}
.count h4{
	float: right;
	padding: 5px 0;
	margin: 10px 50px;
	color: white;
}



section.content .my-carousel{
	overflow: hidden;
	border-radius: 5px;
}

.glyphicon-chevron-left::before{
	content: "" !important;
}
.glyphicon-chevron-right::before{
	content: "" !important;
}
.block{
	right: 10px !important;
}
.MGY-10{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.PDY-20{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}





